<div class="question-list">
  <table class="questions-table">
    <thead>
    <tr>
      <th class="text-left p-2">ID</th>
      <th class="text-left p-2">Text</th>
      <th class="text-left p-2">Type</th>
      <th class="text-left p-2">Actions</th>
    </tr>
    </thead>
    <tbody>
      @for (question of questions; track question.id) {
        <app-question-item
          [question]="question"
          (showAnswersEvent)="onShowAnswers($event)">
        </app-question-item>
      } @empty {
        <tr>
          <td colspan="4" class="text-center p-4">
            Aucune question à afficher
          </td>
        </tr>
      }
    </tbody>
  </table>
  <!-- Composant Liste des réponses -->
  <app-answer-list
    (close)="hideAnswers()"
    *ngIf="selectedQuestion"
    [answers]="selectedQuestion.answers"
    [questionText]="selectedQuestion.text"
  ></app-answer-list>

  <ng-template #noQuestions>
    <div class="no-questions p-4 text-center text-gray-500">
      Aucune question à afficher
    </div>
  </ng-template>
</div>

